---
---

@import "{{ site.theme }}";

#images{
    text-align:center;
    margin:50px auto; 
}
#images a{
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
}
.page-header {

  background-image: url(https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.main-content {
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #000000;
    opacity: 0.8
  }
}
.project-name {
  color: rgb(255, 255, 255);
  text-shadow: black 3px 3px 7px;
}

.project-tagline {
  color: rgb(255, 255, 255);
  text-shadow: black 2px 2px 5px;
  font-weight: bold;
  opacity: 1
}
.btn {
  color: rgba(255, 255, 255, 1);
  text-shadow: black 2px 2px 5px;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
